<img src="http://www.reeem.org/wp-content/uploads/2017/10/cropped-reeem-logo-transparent.png" width="300" style="float: left">
<img src="http://reiner-lemoine-institut.de//wp-content/uploads/2015/09/rlilogo.png" width="100" style="float: right">

# REEEM-DB - OSeMBE

__copyright__ 	= "© Reiner Lemoine Institut" <br>
__license__ 	= "GNU Affero General Public License Version 3 (AGPL-3.0)" <br>
__url__ 		= "https://www.gnu.org/licenses/agpl-3.0.en.html" <br>
__author__ 		= "Ludwig Hülk" <br>

# Import

In [1]:
# basic
import sys
import os
import getpass
import pandas as pd
import numpy as np
import json
import pathlib
from sqlalchemy import *
# plot
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import plotly.graph_objs as go
import plotly.offline as pltly
import colorlover as cl
import seaborn as sns
# notebook
from IPython.display import Image
from IPython.core.display import HTML 

pltly.init_notebook_mode(connected=True)
%matplotlib inline

version = 'v0.2.0'
project = 'REEEM'

# Database Connection

This function creates a database connection to the **reeem_db**.<br>
The default user is **reeem_vis**, a user that has only read rights.

This section establishes the database connection and asks for the **password**.<br>
The username can be changed in the corresponding function above.<br>
If you don't have a username or forgot your password please contact your database admins.

In [2]:
def reeem_session():
    """SQLAlchemy session object with valid connection to reeem database"""
    
    print('Please provide connection parameters to database:\n' +
              'Hit [Enter] to take defaults')
    host = '130.226.55.43' # input('host (default 130.226.55.43): ')
    port = '5432' # input('port (default 5432): ')
    database = 'reeem' # input("database name (default 'reeem'): ")
    user = 'reeem_vis' # input('user (default postgres): ')
    # password = input('password: ')
    password = getpass.getpass(prompt='password: ',
                                   stream=sys.stderr)
    con = create_engine(
            'postgresql://' + '%s:%s@%s:%s/%s' % (user,
                                                  password,
                                                  host,
                                                  port,
                                                  database)).connect()
    print('Password correct! Database connection established.')
    return con

con = reeem_session()

C:\Anaconda3\envs\reeem-vis\lib\site-packages\ipykernel_launcher.py:12: UserWarning:

The `stream` parameter of `getpass.getpass` will have no effect when using ipykernel

Please provide connection parameters to database:
Hit [Enter] to take defaults
password: ········
Password correct! Database connection established.

# Table Info

In [3]:
# Database
schema = 'model_draft'
table_in = 'reeem_osembe_input'
table_out = 'reeem_osembe_output'
folder = 'osembe'

pathlib.Path('data/'+folder).mkdir(parents=True, exist_ok=True) 
print("Database Schema:", schema +'\n'+ "Input table:", table_in +'\n'+ 
      "Output table:", table_out +'\n'+ "Created folder:", folder )

Database Schema: model_draft
Input table: reeem_osembe_input
Output table: reeem_osembe_output
Created folder: osembe

## Database Query

This section is used to query the database tables (**table_in** and **table_out**).<br>

In [4]:
# Number of entries in table
sql = text("""
    SELECT  'In' AS data, count(*) AS count
    FROM    {0}.{1}
    UNION ALL
    SELECT  'Out' AS data, count(*) AS count
    FROM    {0}.{2}""".format(schema, table_in, table_out))
df_num = pd.read_sql_query(sql, con)
df_num

  data     count
0   In  28477188
1  Out  22630860

In [5]:
# Pathways
column = 'pathway' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_path = pd.read_sql_query(sql, con)
df_path

   data  pathway   count
0    In   C0T0E0  308412
1    In   C0T0E1  308412
2    In  C0T0E10  308412
3    In  C0T0E11  392364
4    In  C0T0E12  308412
5    In  C0T0E13  308412
6    In  C0T0E14  308412
7    In  C0T0E15  308412
8    In  C0T0E16  308412
9    In  C0T0E17  308412
10   In  C0T0E18  308412
11   In  C0T0E19  308412
12   In   C0T0E2  308412
13   In  C0T0E20  308412
14   In  C0T0E21  308412
15   In  C0T0E22  308412
16   In  C0T0E23  308412
17   In  C0T0E24  308412
18   In  C0T0E25  308412
19   In  C0T0E26  308412
20   In   C0T0E3  308412
21   In   C0T0E4  308412
22   In   C0T0E5  308412
23   In   C0T0E6  308412
24   In   C0T0E7  308412
25   In   C0T0E8  308412
26   In   C0T0E9  308412
27   In   C0T1E0  308340
28   In   C0T1E1  308340
29   In  C0T1E10  308340
..  ...      ...     ...
68   In  C1T0E21  267012
69   In  C1T0E22  267012
70   In  C1T0E23  267012
71   In  C1T0E24  267012
72   In  C1T0E25  267012
73   In  C1T0E26  267012
74   In   C1T0E3  267012
75   In   C1T0E4  267012
76   In   C1T0E5  267012
77   In   C1T0E6  267012
78   In   C1T0E7  267012
79   In   C1T0E8  267012
80   In   C1T0E9  267012
81   In   C1T1E0  266940
82   In   C1T1E1  266940
83   In  C1T1E10  446040
84   In  C1T1E11  266940
85   In  C1T1E12  266940
86   In  C1T1E13  266940
87   In  C1T1E14  266940
88   In  C1T1E15  266940
89   In  C1T1E16   81468
90   In   C1T1E2  266940
91   In   C1T1E3  266940
92   In   C1T1E4  266940
93   In   C1T1E5  266940
94   In   C1T1E6  266940
95   In   C1T1E7  266940
96   In   C1T1E8  266940
97   In   C1T1E9  266940

[98 rows x 3 columns]

In [6]:
# Pathways
column = 'pathway' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_path = pd.read_sql_query(sql, con)
df_path

    data  pathway   count
0    Out     Base  581076
1    Out   C0T0E0  270036
2     In   C0T0E0  308412
3     In   C0T0E1  308412
4    Out   C0T0E1  270036
5    Out  C0T0E10  270036
6     In  C0T0E10  308412
7     In  C0T0E11  392364
8    Out  C0T0E11  270036
9    Out  C0T0E12  270036
10    In  C0T0E12  308412
11    In  C0T0E13  308412
12   Out  C0T0E13  270036
13   Out  C0T0E14  270036
14    In  C0T0E14  308412
15    In  C0T0E15  308412
16   Out  C0T0E15  270036
17   Out  C0T0E16  270036
18    In  C0T0E16  308412
19    In  C0T0E17  308412
20   Out  C0T0E17  270036
21   Out  C0T0E18  270036
22    In  C0T0E18  308412
23    In  C0T0E19  308412
24   Out  C0T0E19  270036
25   Out   C0T0E2  270036
26    In   C0T0E2  308412
27    In  C0T0E20  308412
28   Out  C0T0E20  270036
29   Out  C0T0E21  270036
..   ...      ...     ...
151   In   C1T0E4  267012
152  Out   C1T0E4  270036
153  Out   C1T0E5  270036
154   In   C1T0E5  267012
155   In   C1T0E6  267012
156  Out   C1T0E6  270036
157  Out   C1T0E7  270036
158   In   C1T0E7  267012
159   In   C1T0E8  267012
160  Out   C1T0E8  270036
161  Out   C1T0E9  270036
162   In   C1T0E9  267012
163   In   C1T1E0  266940
164   In   C1T1E1  266940
165   In  C1T1E10  446040
166   In  C1T1E11  266940
167   In  C1T1E12  266940
168   In  C1T1E13  266940
169   In  C1T1E14  266940
170   In  C1T1E15  266940
171   In  C1T1E16   81468
172   In   C1T1E2  266940
173   In   C1T1E3  266940
174   In   C1T1E4  266940
175   In   C1T1E5  266940
176   In   C1T1E6  266940
177   In   C1T1E7  266940
178   In   C1T1E8  266940
179   In   C1T1E9  266940
180  Out     Test  176868

[181 rows x 3 columns]

In [7]:
# Versions
column = 'pathway,version' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_ver = pd.read_sql_query(sql, con)
df_ver

    data  pathway version   count
0    Out     Base  DataV1  581076
1     In   C0T0E0  DataV1  308412
2    Out   C0T0E0  DataV1  270036
3     In   C0T0E1  DataV1  308412
4    Out   C0T0E1  DataV1  270036
5    Out  C0T0E10  DataV1  270036
6     In  C0T0E10  DataV1  308412
7     In  C0T0E11  DataV1  392364
8    Out  C0T0E11  DataV1  270036
9     In  C0T0E12  DataV1  308412
10   Out  C0T0E12  DataV1  270036
11    In  C0T0E13  DataV1  308412
12   Out  C0T0E13  DataV1  270036
13    In  C0T0E14  DataV1  308412
14   Out  C0T0E14  DataV1  270036
15   Out  C0T0E15  DataV1  270036
16    In  C0T0E15  DataV1  308412
17    In  C0T0E16  DataV1  308412
18   Out  C0T0E16  DataV1  270036
19    In  C0T0E17  DataV1  308412
20   Out  C0T0E17  DataV1  270036
21    In  C0T0E18  DataV1  308412
22   Out  C0T0E18  DataV1  270036
23    In  C0T0E19  DataV1  308412
24   Out  C0T0E19  DataV1  270036
25   Out   C0T0E2  DataV1  270036
26    In   C0T0E2  DataV1  308412
27   Out  C0T0E20  DataV1  270036
28    In  C0T0E20  DataV1  308412
29   Out  C0T0E21  DataV1  270036
..   ...      ...     ...     ...
151   In   C1T0E4  DataV1  267012
152  Out   C1T0E4  DataV1  270036
153  Out   C1T0E5  DataV1  270036
154   In   C1T0E5  DataV1  267012
155   In   C1T0E6  DataV1  267012
156  Out   C1T0E6  DataV1  270036
157   In   C1T0E7  DataV1  267012
158  Out   C1T0E7  DataV1  270036
159  Out   C1T0E8  DataV1  270036
160   In   C1T0E8  DataV1  267012
161  Out   C1T0E9  DataV1  270036
162   In   C1T0E9  DataV1  267012
163   In   C1T1E0  DataV1  266940
164   In   C1T1E1  DataV1  266940
165   In  C1T1E10  DataV1  446040
166   In  C1T1E11  DataV1  266940
167   In  C1T1E12  DataV1  266940
168   In  C1T1E13  DataV1  266940
169   In  C1T1E14  DataV1  266940
170   In  C1T1E15  DataV1  266940
171   In  C1T1E16  DataV1   81468
172   In   C1T1E2  DataV1  266940
173   In   C1T1E3  DataV1  266940
174   In   C1T1E4  DataV1  266940
175   In   C1T1E5  DataV1  266940
176   In   C1T1E6  DataV1  266940
177   In   C1T1E7  DataV1  266940
178   In   C1T1E8  DataV1  266940
179   In   C1T1E9  DataV1  266940
180  Out     Test  DataV1  176868

[181 rows x 4 columns]

In [8]:
# Years
column = 'year' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3} ; """.format(schema, table_in, table_out, column))
df_year = pd.read_sql_query(sql, con)
df_year

   data  year   count
0    In  2015  791463
1   Out  2015  628635
2    In  2016  791463
3   Out  2016  628635
4    In  2017  791463
5   Out  2017  628635
6   Out  2018  628635
7    In  2018  791463
8   Out  2019  628635
9    In  2019  791463
10   In  2020  791463
11  Out  2020  628635
12   In  2021  791463
13  Out  2021  628635
14   In  2022  791463
15  Out  2022  628635
16  Out  2023  628635
17   In  2023  791463
18  Out  2024  628635
19   In  2024  791463
20   In  2025  791463
21  Out  2025  628635
22   In  2026  791463
23  Out  2026  628635
24  Out  2027  628635
25   In  2027  791463
26  Out  2028  628635
27   In  2028  791463
28   In  2029  791463
29  Out  2029  628635
..  ...   ...     ...
42   In  2036  791463
43  Out  2036  628635
44  Out  2037  628635
45   In  2037  791463
46   In  2038  791463
47  Out  2038  628635
48   In  2039  791463
49  Out  2039  628635
50  Out  2040  628635
51   In  2040  791463
52  Out  2041  628635
53   In  2041  791463
54  Out  2042  628635
55   In  2042  791463
56  Out  2043  628635
57   In  2043  791463
58   In  2044  791463
59  Out  2044  628635
60   In  2045  791463
61  Out  2045  628635
62  Out  2046  628635
63   In  2046  791463
64   In  2047  791463
65  Out  2047  628635
66   In  2048  791463
67  Out  2048  628635
68   In  2049  791463
69  Out  2049  628635
70  Out  2050  628635
71   In  2050  791463

[72 rows x 3 columns]

In [9]:
# Regions
column = 'region' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3}
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_reg = pd.read_sql_query(sql, con)
df_reg

   data    region    count
0    In        IE   979344
1    In        LT   924120
2    In        CH   933660
3    In        ES  1024848
4    In        MT   602856
5    In        IT  1016208
6    In        BE  1053540
7    In        AT   948060
8    In        LU   823392
9    In        SK   957348
10   In        NO   954252
11   In        PL   966276
12   In        PT   863064
13   In        FI  1034208
14   In        NL  1050264
15   In        DE  1202760
16   In        EE   890028
17   In        HU   936288
18   In        CY   653040
19   In        GR   927648
20   In        SE   989568
21   In        UK  1059444
22   In        DK   987300
23   In        FR  1060128
24   In        LV   778752
25   In        SI   908460
26   In        RO   952308
27   In        BG   957240
28   In  EU+CH+NO   183600
29   In        CZ   993240
..  ...       ...      ...
34  Out        MT   726732
35  Out        BE   726732
36  Out      EU30     8676
37  Out        AT   734436
38  Out        NL   726732
39  Out        CY   726732
40  Out        DK   734400
41  Out        SI   726732
42  Out        BG   726732
43  Out  EU+CH+NO   702756
44  Out        CZ   734400
45  Out        LT   734256
46  Out        IT   734328
47  Out        LU   726732
48  Out        SK   734328
49  Out        NO   724392
50  Out        FI   734256
51  Out        PL   734256
52  Out        PT   726732
53  Out        DE   734400
54  Out        EE   734256
55  Out        HU   726732
56  Out        GR   726732
57  Out        SE   734256
58  Out        UK   726732
59  Out        FR   734328
60  Out        LV   734256
61  Out        RO   726732
62  Out      EU28    23508
63  Out        HR   726732

[64 rows x 3 columns]

In [10]:
# Categories
column = 'category' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_cat = pd.read_sql_query(sql, con)
df_cat

   data                                           category    count
0    In                              EmissionActivityRatio   597888
1    In                                 AvailabilityFactor  3563028
2    In                                AnnualEmissionLimit     3600
3    In                                       DiscountRate     3600
4    In                                          FixedCost  3371832
5    In            TotalTechnologyAnnualActivityLowerLimit    84780
6    In                   TotalAnnualMaxCapacityInvestment   722628
7    In                              SpecifiedAnnualDemand   109764
8    In                                        CapitalCost  2246436
9    In            TotalTechnologyAnnualActivityUpperLimit   513108
10   In                                       VariableCost  3630168
11   In                                         Efficiency  5626188
12   In                                   ResidualCapacity  2402316
13   In                                    OperationalLife  5617332
14  Out                                               None   487908
15  Out                                          Emissions    91512
16  Out  Installed Capacities Public and Industrial Pow...   274536
17  Out  Electricity Production from Public and Industr...   274536
18  Out  Electricity Production from Public and Industr...   274536
19  Out  Fuel Input to Public and Industrial Power and ...   274536
20  Out           Primary energy consumption of renewables   640584
21  Out  Fuel Input to Public and Industrial Power and ...   823608
22  Out  Installed Capacities Public and Industrial Pow...   274536
23  Out  Fuel Input to Public and Industrial Power and ...   183024
24  Out  Fuel Input to Public and Industrial Power and ...   366048
25  Out  Electricity Production from Public and Industr...   640584
26  Out                  Electricity Exchange - Capacities  2745360
27  Out  Installed Capacities Public and Industrial Pow...   366048
28  Out  Installed Capacities Public and Industrial Pow...   183024
29  Out  Installed Capacities Public and Industrial Pow...   640584
30  Out  Installed Capacities Public and Industrial Pow...   183024
31  Out  Installed Capacities Public and Industrial Pow...   274536
32  Out  Electricity Production from Public and Industr...   274536
33  Out  Fuel Input to Public and Industrial Power and ...   915120
34  Out  Fuel Input to Public and Industrial Power and ...   274536
35  Out  Fuel Input to Public and Industrial Power and ...   183024
36  Out  Installed Capacities Public and Industrial Pow...   823608
37  Out                                 Biomass production    91512
38  Out  Fuel Input to Public and Industrial Power and ...   640584
39  Out  Electricity Production from Public and Industr...   915120
40  Out  Electricity Production from Public and Industr...   183024
41  Out  Fuel Input to Public and Industrial Power and ...   183024
42  Out                         Primary energy consumption   823608
43  Out  Electricity Production from Public and Industr...   183024
44  Out  Electricity Production from Public and Industr...   366048
45  Out  Electricity Production from Public and Industr...   366048
46  Out  Electricity Production from Public and Industr...   183024
47  Out  Installed Capacities Public and Industrial Pow...   274536
48  Out                 Electricity Exchange - Net Imports  2833920
49  Out  Electricity Production from Public and Industr...   274536
50  Out  Fuel Input to Public and Industrial Power and ...   366048
51  Out  Final energy consumption by energy carrier sum...   640584
52  Out  Electricity Production from Public and Industr...   823608
53  Out  Fuel Input to Public and Industrial Power and ...   274536
54  Out  Installed Capacities Public and Industrial Pow...   183024
55  Out  Installed Capacities Public and Industrial Pow...   366048
56  Out  Installed Capacities Public and Industrial Pow...   915120
57  Out  Fuel Input to Public and Industrial Power and ...   274536

In [11]:
# Indicators
column = 'nid,category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator, nid; """.format(schema, table_in, table_out, column))
df_nind = pd.read_sql_query(sql, con)
df_nind.index.names = ['rid']
df_nind

,data,nid,category,indicator,count
rid,,,,,
0,In,1,AnnualEmissionLimit,CO2,3600
1,In,4,AvailabilityFactor,Bio fuel ICE Heat and Power unit,106236
2,In,7,AvailabilityFactor,Biomass Combined Cycle,106236
3,In,8,AvailabilityFactor,Biomass Combined Heat and Power,106236
4,In,9,AvailabilityFactor,Biomass Steam Turbine,102708
5,In,12,AvailabilityFactor,Coal Combined Heat and Power,99108
6,In,14,AvailabilityFactor,Coal Steam Turbine large,99108
7,In,13,AvailabilityFactor,Coal Steam Turbine small,99108
8,In,25,AvailabilityFactor,Geothermal Conventional,99180
9,In,27,AvailabilityFactor,HFO Combined Cycle,106236
10,In,28,AvailabilityFactor,HFO Combined Heat and Power,106236
11,In,30,AvailabilityFactor,HFO Gas Turbine new,106236
12,In,29,AvailabilityFactor,HFO Gas Turbine old,106236
13,In,32,AvailabilityFactor,HFO ICE Heat and Power Unit large,106236
14,In,31,AvailabilityFactor,HFO ICE Heat and Power unit small,106236
15,In,34,AvailabilityFactor,HFO Steam Turbine large,106236
16,In,33,AvailabilityFactor,HFO Steam Turbine small,106236
17,In,38,AvailabilityFactor,Hydro Dam >100MW,99108
18,In,37,AvailabilityFactor,Hydro Dam 10-100MW,99108
19,In,36,AvailabilityFactor,Hydro Dam <10MW,99108
20,In,40,AvailabilityFactor,Hydro Pumped Storage >100MW,91980
21,In,39,AvailabilityFactor,Hydro Pumped Storage 10-100MW,91980
22,In,35,AvailabilityFactor,Hydro Run of river,99108
23,In,43,AvailabilityFactor,Natural Gas Combined Cycle,106236
24,In,45,AvailabilityFactor,Natural Gas Combined Heat and Power new,106236
25,In,44,AvailabilityFactor,Natural Gas Combined Heat and Power old,106236
26,In,46,AvailabilityFactor,Natural Gas Fuel Cell,106236
27,In,48,AvailabilityFactor,Natural Gas Gas Turbine new,106236
28,In,47,AvailabilityFactor,Natural Gas Gas Turbine old,106236
29,In,50,AvailabilityFactor,Natural Gas ICE Heat and Power Unit large,106236
...,...,...,...,...,...
1064,Out,240,None,Wave,72
1065,Out,298,None,Wave,1620
1066,Out,62,None,Wind,1620
1067,Out,119,None,Wind,2160
1068,Out,177,None,Wind,2160
1069,Out,231,None,Wind,2160
1070,Out,289,None,Wind,2160
1071,Out,67,None,Wood/Straw/Biowaste,1620
1072,Out,376,None,Woody crops,36
1073,Out,107,None,None,72
1074,Out,108,None,None,72
1075,Out,109,None,None,72
1076,Out,110,None,None,72
1077,Out,111,None,None,72
1078,Out,165,None,None,72
1079,Out,166,None,None,72
1080,Out,167,None,None,72
1081,Out,168,None,None,72
1082,Out,169,None,None,72
1083,Out,219,None,None,72
1084,Out,220,None,None,72
1085,Out,221,None,None,72
1086,Out,222,None,None,72
1087,Out,223,None,None,72
1088,Out,277,None,None,72
1089,Out,278,None,None,72
1090,Out,279,None,None,72
1091,Out,280,None,None,72
1092,Out,281,None,None,72
1093,Out,398,None,None,36

In [12]:
# Indicators
column = 'category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator; """.format(schema, table_in, table_out, column))
df_ind = pd.read_sql_query(sql, con)
df_ind.index.names = ['rid']
df_ind

,data,category,indicator,count
rid,,,,
0,In,AnnualEmissionLimit,CO2,3600
1,In,AvailabilityFactor,Bio fuel ICE Heat and Power unit,106344
2,In,AvailabilityFactor,Biomass Combined Cycle,106344
3,In,AvailabilityFactor,Biomass Combined Heat and Power,106344
4,In,AvailabilityFactor,Biomass Steam Turbine,102816
5,In,AvailabilityFactor,Coal Combined Heat and Power,99216
6,In,AvailabilityFactor,Coal Steam Turbine large,99216
7,In,AvailabilityFactor,Coal Steam Turbine small,99216
8,In,AvailabilityFactor,Geothermal Conventional,99288
9,In,AvailabilityFactor,HFO Combined Cycle,106344
10,In,AvailabilityFactor,HFO Combined Heat and Power,106344
11,In,AvailabilityFactor,HFO Gas Turbine new,106344
12,In,AvailabilityFactor,HFO Gas Turbine old,106344
13,In,AvailabilityFactor,HFO ICE Heat and Power Unit large,106344
14,In,AvailabilityFactor,HFO ICE Heat and Power unit small,106344
15,In,AvailabilityFactor,HFO Steam Turbine large,106344
16,In,AvailabilityFactor,HFO Steam Turbine small,106344
17,In,AvailabilityFactor,Hydro Dam >100MW,99216
18,In,AvailabilityFactor,Hydro Dam 10-100MW,99216
19,In,AvailabilityFactor,Hydro Dam <10MW,99216
20,In,AvailabilityFactor,Hydro Pumped Storage >100MW,92088
21,In,AvailabilityFactor,Hydro Pumped Storage 10-100MW,92088
22,In,AvailabilityFactor,Hydro Run of river,99216
23,In,AvailabilityFactor,Natural Gas Combined Cycle,106344
24,In,AvailabilityFactor,Natural Gas Combined Heat and Power new,106344
25,In,AvailabilityFactor,Natural Gas Combined Heat and Power old,106344
26,In,AvailabilityFactor,Natural Gas Fuel Cell,106344
27,In,AvailabilityFactor,Natural Gas Gas Turbine new,106344
28,In,AvailabilityFactor,Natural Gas Gas Turbine old,106344
29,In,AvailabilityFactor,Natural Gas ICE Heat and Power Unit large,106344
...,...,...,...,...
704,Out,None,Pumped Storage 10-100MW,4932
705,Out,None,Rape seed,36
706,Out,None,Renewables,1908
707,Out,None,RO,3168
708,Out,None,Run of river,4932
709,Out,None,SE,3096
710,Out,None,SI,3168
711,Out,None,SK,3168
712,Out,None,Solar,10260
713,Out,None,Starch crops,36
714,Out,None,Steam Turbine,8316
715,Out,None,Steam Turbine,6480
716,Out,None,Steam Turbine large,9936
717,Out,None,Steam Turbine small,9936
718,Out,None,Sugar crops,36
719,Out,None,Sugar/Starchy crops,1620
720,Out,None,Sum,17280
721,Out,None,Summe,8460
722,Out,None,Total net Imports,2088
723,Out,None,Transport,72
724,Out,None,UK,3168
725,Out,None,Utility PV,4932
726,Out,None,Waste,1908
727,Out,None,Waste (non renewable),1620
728,Out,None,Waste non renewable + Industrial Waste Heat,8640
729,Out,None,Wave,4932
730,Out,None,Wind,10260
731,Out,None,Wood/Straw/Biowaste,1620
732,Out,None,Woody crops,36
733,Out,None,None,1476

In [13]:
# Write data as CSV file
csvname = 'data/{0}/reeem_{0}_indicators.csv'.format(folder)
df_ind.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

Data saved to file: data/osembe/reeem_osembe_indicators.csv

## Table metadata

Access the metadata from the database tables and write metadata string as JSON file.<br>

In [14]:
# Input Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_in))
meta_in = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_in)

# Save data to JSON file
fname_in = 'data/{0}/{1}_metadata.json'.format(folder, table_in)
with open(fname_in, 'w') as metafile:
    json.dump(json.loads(meta_in), metafile, indent=4)
    print("Data saved to file:", fname_in)

{
    "title": "REEEM OSeMBE Input",
    "description": "Input parameters: Service Demands, Fuel Prices, Potentials",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2015",
        "start": "2015",
        "end": "2060",
        "resolution": "1 year"},
    "sources": [
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""},
        {"name": "", "description": "", "url": "", "license": "", "copyright": ""} ],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-11-14", "comment": "Update structure and metadata"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"} ],
    "resources": [
        {"name": "model_draft.reeem_osembe_input",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "schema", "description": "1. classification", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "field", "description": "Old classification", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"},
            {"name": "source", "description": "Data source", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/osembe/reeem_osembe_input_metadata.json

In [15]:
# Output Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_out))
meta_out = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_out)

# Save data to JSON file
fname_out = 'data/{0}/{1}_metadata.json'.format(folder, table_out)
with open(fname_out, 'w') as metafile:
    json.dump(json.loads(meta_out), metafile, indent=4)
    print("Data saved to file:", fname_out)

{
    "title": "REEEM OSeMBE Output",
    "description": "Output parameters: ",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "Europe (EU28+NO+CH)",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2015",
        "start": "2015",
        "end": "2050",
        "resolution": "1 year"},
    "sources": [
        {"name": "OSeMOSYS OSEMBE", "description": "The Open-Source energy Model Base for the European Union", "url": "http://www.osemosys.org/osembe.html", "license": "Apache License 2.0 (Apache-2.0)", "copyright": "tba"},
        {"name": "OSeMBE – An open-source engagement model", "description": "Model documentation", "url": "http://www.osemosys.org/uploads/1/8/5/0/18504136/osembe_documentation.pdf", "license": "none", "copyright": "none"},
        {"name": "OSeMBE input data", "description": "Data", "url": "http://www.osemosys.org/uploads/1/8/5/0/18504136/osembe_v1_20180821.zip", "license": "Open Data Commons Attribution License 1.0 (ODC-BY-1.0)", "copyright": "© Hauke Henke"}],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2017-07-24", "comment": "Create table"},
        {"name": "Ludee", "email": "none", "date": "2017-11-14", "comment": "Update structure and metadata"},
        {"name": "Ludee", "email": "none", "date": "2018-01-30", "comment": "New naming structure"},
        {"name": "Ludee", "email": "none", "date": "2018-10-09", "comment": "Update table name and metadata"} ],
    "resources": [
        {"name": "model_draft.reeem_osembe_output",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "schema", "description": "1. classification", "unit": "none"},
            {"name": "category", "description": "2. classification", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "field", "description": "Old classification", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"},
            {"name": "source", "description": "Data source", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/osembe/reeem_osembe_output_metadata.json

# View 1: One indicator for one region in one pathway over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_1**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'Installed Capacities Public and Industrial Power and CHP Plants by Fuel and Technology_Solar'
        AND indicator = 'Solar'
        AND region = 'EU+CH+NO'                       -- filter 2
        AND pathway = 'C0T0E0'                    -- filter 3
        --AND framework = 'FrameworkV1'              
        AND version = 'DataV1'                  -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_1 = pd.read_sql_query(sql, con)
print(df_1)

## Metadata

The important information from the above select (**df_1**) is collected in a Dictionary (**info_dict_1**).

In [ ]:
# Facts dict
info_dict_1 = {}
info_dict_1['Filename'] = ['{}_reeem_plot_1' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_1['Category'] = df_1.loc[:,'category'].unique()
info_dict_1['Indicator'] = df_1.loc[:,'indicator'].unique()
info_dict_1['Unit'] = df_1.loc[:,'unit'].unique()
info_dict_1['Pathway'] = df_1.loc[:,'pathway'].unique()
info_dict_1['Year'] = df_1.loc[:,'year'].unique().tolist()
info_dict_1['Region'] = df_1.loc[:,'region'].unique()
info_dict_1['Y-Axis'] = ['{} in {}'.format(*info_dict_1['Indicator'], *info_dict_1['Unit'])]
info_dict_1['Title'] = ['{} in {}'.format(*info_dict_1['Category'], *info_dict_1['Region'])]
info_dict_1['Metadata'] = meta_out

# Print facts
for x in info_dict_1:
    print(x,':',info_dict_1[x])

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_1**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_1['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_1['Y-Axis'])                    # Label from info
plt.plot(df_1.loc[:,'year'], df_1.loc[:,'value'], 
         marker="o",  markersize=5)
plt.legend(df_1.loc[:,'pathway'].unique())
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.

In [ ]:
# Interactive plot for one indicator and one pathway
data = [go.Scatter(
    x = df_1.loc[:,'year'],
    y = df_1.loc[:,'value'],
    name = df_1.loc[:,'pathway'].unique())]

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_1['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_1['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.

In [ ]:
# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

In [ ]:
# Write facts to textfile
txtname = ('data/' + str({0}) + '/' + str({1}) +'.txt').format(folder, *info_dict_1['Filename'])
with open(txtname,'w') as tfile:
    for i in info_dict_1.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_1[i]]) + "\n")
tfile.close()
print("Facts saved to file:", txtname)

# Save data to CSV
csvname = ('data/' + str({0}) + '/' + str({1}) +'.csv').format(folder, *info_dict_1['Filename'])
df_1.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = ('data/' + str({0}) + '/' + str({1}) +'.html').format(folder, *info_dict_1['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 2: One indicator for one region in different pathways over time

## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_2**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'Installed Capacities Public and Industrial Power and CHP Plants by Fuel and Technology_Solar'
        AND indicator = 'Solar'
        AND region = 'EU+CH+NO'                   -- filter 2
        AND (pathway = 'C0T0E17' 
            OR pathway = 'C0T0E18')               -- filter 3
        --AND framework = 'FrameworkV1'              
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_2 = pd.read_sql_query(sql, con)
print(df_2)

In [ ]:
# Facts dict
info_dict_2 = {}
info_dict_2['Filename'] = ['{}_reeem_plot_2' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_2['Category'] = df_2.loc[:,'category'].unique()
info_dict_2['Indicator'] = df_2.loc[:,'indicator'].unique()
info_dict_2['Unit'] = df_2.loc[:,'unit'].unique()
info_dict_2['Pathway'] = df_2.loc[:,'pathway'].unique()
info_dict_2['Year'] = df_2.loc[:,'year'].unique().tolist()
info_dict_2['Region'] = df_2.loc[:,'region'].unique()
info_dict_2['Y-Axis'] = ['{} in {}'.format(*info_dict_2['Indicator'], *info_dict_2['Unit'])]
info_dict_2['Title'] = ['{} in {}'.format(*info_dict_2['Category'], *info_dict_2['Region'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
for x in info_dict_2:
    print(x,':',info_dict_2[x])

## Stack data

This pivot function reorganises the data and makes each pathway a column. The year is used as the index.<br>
The result is saved to a new dataframe (**df_2p**) and can be printed.

In [ ]:
# Reshape dataframe
df_2p = df_2.pivot(index='year', columns='pathway',  values='value')
# print (df_2p)

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_2**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig_2 = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_2['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_2['Y-Axis'])                    # Label from info
plt.plot(df_2p, 
         marker="o",  markersize=5)
plt.legend(df_2p)
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.<br>
The different pathways can be switched on and off.

In [ ]:
# Iterate over pathways and add to data
pathways = df_2.loc[:,'pathway'].unique()
data = []
for pathway in pathways:
    data.append(go.Scatter(
        x = df_2.loc[df_2['pathway'] == pathway].loc[:,'year'],
        y = df_2.loc[df_2['pathway'] == pathway].loc[:,'value'],
        name = pathway))

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Interactive Plot 2

This is the manual interactive version.<br>
You can control the design using the [plotly documentation](https://plot.ly/python/line-and-scatter/#line-and-scatter-plots).

In [ ]:
data = [go.Scatter(x=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='black', dash='none', width='2'),
                   marker=dict(symbol='o', size=8, line=dict(width=2, color='black')),
                   name='Base'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='green', dash='', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='HighRES'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'value'],
                   line=dict(color='red', dash='dash', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='StorageInnov'
                  )
       ]
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig2 = go.Figure(data=data, layout=layout)
pltly.iplot(ifig2)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_2['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_2.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_2[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_2['Filename'])
df_2.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save pivot data to CSV
csvname = 'data/{}_pivot.csv' .format(*info_dict_2['Filename'])
df_2p.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = 'data/{}.png' .format(*info_dict_2['Filename'])
fig_2.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = 'data/{}.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# Save interactive plot 2
htmlname = 'data/{}_2.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig2, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 3: One indicator for all regions in one pathway over time

## Database Query

This section can be used to query one specific **indicator** for all regions from one database table (_table_).<br>
Indicators are identified by the **nid** (_filter 1_).<br>
Only **region** _EU28_ is excluded (_filter 2_).<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_3**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, nid, indicator, field, value, unit  -- column
    FROM    model_draft.reeem_osembe_output       -- table
    WHERE nid = 59                                -- filter 1
        AND region <> 'EU28'                      -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, region, year;      -- sorting """)
df_3 = pd.read_sql_query(sql, con)
print(df_3)

## Metadata

The important information from the above select (**df_3**) is collected in a Dictionary (**info_dict_3**).

In [ ]:
# Facts dict
info_dict_3 = {}
info_dict_3['Filename'] = ['{}_reeem_plot_3' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_3['Field'] = df_3.loc[:,'field'].unique()
info_dict_3['Indicator'] = df_3.loc[:,'indicator'].unique()
info_dict_3['Unit'] = df_3.loc[:,'unit'].unique()
info_dict_3['Pathway'] = df_3.loc[:,'pathway'].unique()
info_dict_3['Year'] = df_3.loc[:,'year'].unique().tolist()
info_dict_3['Region'] = df_3.loc[:,'region'].unique()
info_dict_3['Y-Axis'] = ['{} in {}'.format(*info_dict_3['Indicator'], *info_dict_3['Unit'])]
info_dict_3['Title'] = ['{} in all regions'.format(*info_dict_3['Indicator'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
for x in info_dict_3:
    print(x,':',info_dict_3[x])

## Stack data

This pivot function reorganises the data and makes each pathway a column. The year is used as the index.<br>
The result is saved to a new dataframe (**df_3p**) and can be printed.

In [ ]:
# Reshape dataframe
df_3p = df_3.pivot(index='year', columns='region',  values='value')
# print (df_3p)

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_3**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 10))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in all regions', fontsize=16)  # Manual title
plt.title(*info_dict_3['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_3['Y-Axis'])                    # Label from info
plt.plot(df_3p, 
         marker="o",  markersize=5)
plt.legend(df_3p)
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.<br>
The different pathways can be switched on and off.

In [ ]:
# Iterate over pathways and add to data
regions = df_3.loc[:,'region'].unique()
data = []
for region in regions:
    data.append(go.Scatter(
        x = df_3.loc[df_3['region'] == region].loc[:,'year'],
        y = df_3.loc[df_3['region'] == region].loc[:,'value'],
        name = region))

# Set layout
layout = go.Layout(
    height=800, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_3['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_3['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

# Combined

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, nid, indicator, field, value, unit  -- column
    FROM    model_draft.reeem_osembe_output       -- table
    WHERE nid = 59                                -- filter 1
        AND region <> 'EU28'                      -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND version = 'DataV1'                    -- filter 4
    ORDER BY pathway, version, region, year;      -- sorting """)
df_3 = pd.read_sql_query(sql, con)
# print(df_3)

# Facts dict
info_dict_3 = {}
info_dict_3['Filename'] = ['{}_reeem_plot_3' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_3['Field'] = df_3.loc[:,'field'].unique()
info_dict_3['Indicator'] = df_3.loc[:,'indicator'].unique()
info_dict_3['Unit'] = df_3.loc[:,'unit'].unique()
info_dict_3['Pathway'] = df_3.loc[:,'pathway'].unique()
info_dict_3['Year'] = df_3.loc[:,'year'].unique().tolist()
info_dict_3['Region'] = df_3.loc[:,'region'].unique()
info_dict_3['Y-Axis'] = ['{} in {}'.format(*info_dict_3['Indicator'], *info_dict_3['Unit'])]
info_dict_3['Title'] = ['{} in all regions'.format(*info_dict_3['Indicator'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
# for x in info_dict_3:
#     print(x,':',info_dict_3[x])

# Reshape dataframe
df_3p = df_3.pivot(index='year', columns='region',  values='value')
# print (df_3p)

# Iterate over pathways and add to data
regions = df_3.loc[:,'region'].unique()
data = []
for region in regions:
    data.append(go.Scatter(
        x = df_3.loc[df_3['region'] == region].loc[:,'year'],
        y = df_3.loc[df_3['region'] == region].loc[:,'value'],
        name = region))

# Set layout
layout = go.Layout(
    height=800, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_3['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_3['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

# View 5: All indicators for all regions in one pathway over time

## Database Query

This section can be used to query all **indicator** for all regions from one database table (_table_).<br>
It is possible to select one specific **pathway** (_filter 1_) and one specific data **version** (_filter 2_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_5**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  id, nid, pathway, framework, version, 
        region, year, field, indicator, value, 
        unit, aggregation, updated  -- column
    FROM    model_draft.reeem_osembe_output       -- table
    WHERE pathway = 'Base'                        -- filter 1
        AND version = 'DataV1'                    -- filter 2
    ORDER BY pathway, version, region, year;      -- sorting """)
df_5 = pd.read_sql_query(sql, con)
df_5.head(5)

## Metadata

The important information from the above select (**df_5**) is collected in a Dictionary (**info_dict_5**).

In [ ]:
# Facts dict
info_dict_5 = {}
info_dict_5['Updated'] = [x.strftime("%Y-%m-%d") for x in df_5.loc[:,'updated'].unique()]
info_dict_5['Filename'] = ['{0}_{1}_OSeMBE_{2}_{3}_Output' .format(
    info_dict_5['Updated'][0],
    df_5.loc[:,'pathway'].unique()[0],
    df_5.loc[:,'framework'].unique()[0],
    df_5.loc[:,'version'].unique()[0])]
#info_dict_5['Category'] = df_5.loc[:,'category'].unique()
#info_dict_5['Indicator'] = df_5.loc[:,'indicator'].unique()
#info_dict_5['Unit'] = df_5.loc[:,'unit'].unique()
info_dict_5['Pathway'] = df_5.loc[:,'pathway'].unique()
info_dict_5['Version'] = df_5.loc[:,'version'].unique()
info_dict_5['Year'] = df_5.loc[:,'year'].unique().tolist()
info_dict_5['Region'] = df_5.loc[:,'region'].unique()
#info_dict_5['Y-Axis'] = ['{} in {}'.format(*info_dict_5['Indicator'], *info_dict_5['Unit'])]
#info_dict_5['Title'] = ['{} in all regions'.format(*info_dict_5['Category'])]
info_dict_5['Metadata'] = df_meta

# Print facts
for x in info_dict_5:
    print(x,':',info_dict_5[x])

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_5['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_5.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_5[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_5['Filename'])
df_5.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Logging

In [ ]:
%%javascript
var nb = IPython.notebook;
var kernel = IPython.notebook.kernel;
var command = "nb_name = '" + nb.notebook_path + "'";
kernel.execute(command);

In [ ]:
print(nb_name)

In [ ]:
# Database select (SQL)
sql = text("""
    -- scenario log (project,version,io,schema_name,table_name,script_name,comment)
    SELECT scenario_log('REEEM','v0.3.0','view','{0}','{1}','{2}',' ');
    """.format(schema, table_out, nb_name))
df_2 = pd.read_sql_query(sql, con)
print(df_2)