<img src="http://www.reeem.org/wp-content/uploads/2017/10/cropped-reeem-logo-transparent.png" width="300" style="float: left">
<img src="http://reiner-lemoine-institut.de//wp-content/uploads/2015/09/rlilogo.png" width="100" style="float: right">

# REEEM-DB - OSeMOSYS-MESCA

__copyright__ 	= "© Reiner Lemoine Institut" <br>
__license__ 	= "GNU Affero General Public License Version 3 (AGPL-3.0)" <br>
__url__ 		= "https://www.gnu.org/licenses/agpl-3.0.en.html" <br>
__author__ 		= "Ludwig Hülk" <br>

# Import

In [1]:
# basic
import sys
import os
import getpass
import pandas as pd
import numpy as np
import json
import pathlib
from sqlalchemy import *
# plot
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import plotly.graph_objs as go
import plotly.offline as pltly
import colorlover as cl
import seaborn as sns
# notebook
from IPython.display import Image
from IPython.core.display import HTML 

pltly.init_notebook_mode(connected=True)
%matplotlib inline

version = 'v0.2.0'
project = 'REEEM'

# Database Connection

This function creates a database connection to the **reeem_db**.<br>
The default user is **reeem_vis**, a user that has only read rights.

This section establishes the database connection and asks for the **password**.<br>
The username can be changed in the corresponding function above.<br>
If you don't have a username or forgot your password please contact your database admins.

In [2]:
def reeem_session():
    """SQLAlchemy session object with valid connection to reeem database"""
    
    print('Please provide connection parameters to database:\n' +
              'Hit [Enter] to take defaults')
    host = '130.226.55.43' # input('host (default 130.226.55.43): ')
    port = '5432' # input('port (default 5432): ')
    database = 'reeem' # input("database name (default 'reeem'): ")
    user = 'reeem_vis' # input('user (default postgres): ')
    # password = input('password: ')
    password = getpass.getpass(prompt='password: ',
                                   stream=sys.stderr)
    con = create_engine(
            'postgresql://' + '%s:%s@%s:%s/%s' % (user,
                                                  password,
                                                  host,
                                                  port,
                                                  database)).connect()
    print('Password correct! Database connection established.')
    return con

con = reeem_session()

C:\Anaconda3\envs\reeem-vis\lib\site-packages\ipykernel_launcher.py:12: UserWarning:

The `stream` parameter of `getpass.getpass` will have no effect when using ipykernel

Please provide connection parameters to database:
Hit [Enter] to take defaults
password: ········
Password correct! Database connection established.

# Table Info

In [3]:
# Database
schema = 'model_draft'
table_in = 'reeem_osemosys_mesca_input'
table_out = 'reeem_osemosys_mesca_output'
folder = 'osemosys_mesca'

pathlib.Path('data/'+folder).mkdir(parents=True, exist_ok=True) 
print("Database Schema:", schema +'\n'+ "Input table:", table_in +'\n'+ 
      "Output table:", table_out +'\n'+ "Created folder:", folder )

Database Schema: model_draft
Input table: reeem_osemosys_mesca_input
Output table: reeem_osemosys_mesca_output
Created folder: osemosys_mesca

## Database Query

This section is used to query the database tables (**table_in** and **table_out**).<br>

In [4]:
# Number of entries in table
sql = text("""
    SELECT  'In' AS data, count(*) AS count
    FROM    {0}.{1}
    UNION ALL
    SELECT  'Out' AS data, count(*) AS count
    FROM    {0}.{2}""".format(schema, table_in, table_out))
df_num = pd.read_sql_query(sql, con)
df_num

  data  count
0   In  34506
1  Out    295

In [5]:
# Pathways
column = 'pathway' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3}; """.format(schema, table_in, table_out, column))
df_path = pd.read_sql_query(sql, con)
df_path

  data     pathway  count
0   In        Base  16848
1  Out        Base    144
2   In  BaseCO2Lin  16848
3  Out  BaseCO2Lin    144
4   In       Pilot    810
5  Out       Pilot      7

In [6]:
# Versions
column = 'framework,pathway,version,updated' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY updated,{3}; """.format(schema, table_in, table_out, column))
df_ver = pd.read_sql_query(sql, con)
df_ver

  data    framework     pathway version                   updated  count
0   In  FrameworkNA       Pilot  DataV1 2019-01-27 23:00:00+00:00    810
1  Out  FrameworkNA       Pilot  DataV1 2019-01-27 23:00:00+00:00      7
2   In  FrameworkV1        Base  DataV1 2019-02-27 23:00:00+00:00  16848
3  Out  FrameworkV1        Base  DataV1 2019-02-27 23:00:00+00:00    144
4   In  FrameworkV1  BaseCO2Lin  DataV1 2019-02-27 23:00:00+00:00  16848
5  Out  FrameworkV1  BaseCO2Lin  DataV1 2019-02-27 23:00:00+00:00    144

In [7]:
# Years
column = 'year' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3} 
    ORDER BY {3} ; """.format(schema, table_in, table_out, column))
df_year = pd.read_sql_query(sql, con)
df_year

   data  year  count
0   Out  2015      9
1    In  2015    960
2   Out  2016      9
3    In  2016    960
4   Out  2017      9
5    In  2017    960
6    In  2018    960
7   Out  2018      9
8    In  2019    960
9   Out  2019      9
10   In  2020    960
11  Out  2020      9
12  Out  2021      9
13   In  2021    960
14   In  2022    960
15  Out  2022      8
16  Out  2023      8
17   In  2023    960
18  Out  2024      8
19   In  2024    960
20   In  2025    960
21  Out  2025      8
22   In  2026    960
23  Out  2026      8
24  Out  2027      8
25   In  2027    960
26  Out  2028      8
27   In  2028    960
28   In  2029    960
29  Out  2029      8
..  ...   ...    ...
42   In  2036    960
43  Out  2036      8
44  Out  2037      8
45   In  2037    960
46   In  2038    960
47  Out  2038      8
48   In  2039    960
49  Out  2039      8
50  Out  2040      8
51   In  2040    960
52  Out  2041      8
53   In  2041    960
54  Out  2042      8
55   In  2042    960
56  Out  2043      8
57   In  2043    960
58   In  2044    960
59  Out  2044      8
60   In  2045    960
61  Out  2045      8
62  Out  2046      8
63   In  2046    960
64   In  2047    960
65  Out  2047      8
66   In  2048    942
67  Out  2048      8
68   In  2049    942
69  Out  2049      8
70  Out  2050      8
71   In  2050    942

[72 rows x 3 columns]

In [8]:
# Regions
column = 'region' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3}
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_reg = pd.read_sql_query(sql, con)
df_reg

  data region  count
0   In     EE   9234
1   In     LT   8424
2   In     LV   8424
3   In     FI   8424
4  Out     EE     79
5  Out     LT     72
6  Out     LV     72
7  Out     FI     72

In [9]:
# Categories
column = 'category' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}; """.format(schema, table_in, table_out, column))
df_cat = pd.read_sql_query(sql, con)
df_cat

   data                                           category  count
0    In  Variable costs of power plants and CHP plants ...    288
1    In             Efficiency of heating plants Heat Pump    288
2    In  Fixed costs of power plants and CHP plants Bio...    576
3    In                     Lifetime of heating plants Oil    288
4    In                                  Final demand Heat    288
5    In               Efficiency of heating plants Biomass    288
6    In  Electrical efficiency of power plants and CHP ...    576
7    In          Capital costs of heating plants Heat Pump    288
8    In  Variable costs of power plants and CHP plants ...    288
9    In  Variable costs of power plants and CHP plants ...    576
10   In  Variable costs of power plants and CHP plants ...    576
11   In  Variable costs of power plants and CHP plants Gas    864
12   In               Capital costs of heating plants Coal    396
13   In                Capital costs of heating plants Oil    288
14   In  Electrical efficiency of power plants and CHP ...    288
15   In         Variable costs of heating plants Heat Pump    288
16   In  Variable costs of power plants and CHP plants Oil    576
17   In   Fixed costs of power plants and CHP plants Waste    576
18   In            Fixed costs of heating plants Heat Pump    288
19   In  Variable costs of power plants and CHP plants ...    576
20   In               Lifetime of heating plants Heat Pump    288
21   In  Electrical efficiency of power plants and CHP ...    288
22   In           Variable costs of heating plants Biomass    288
23   In  Electrical efficiency of power plants and CHP ...    576
24   In  Electrical efficiency of power plants and CHP ...    288
25   In       Lifetime of power plants and CHP plants Wind    576
26   In      Lifetime of power plants and CHP plants Waste    576
27   In  Electrical efficiency of power plants and CHP ...    288
28   In                    Lifetime of heating plants Coal    288
29   In      Lifetime of power plants and CHP plants Solar    288
..  ...                                                ...    ...
53   In                  Fixed costs of heating plants Oil    288
54   In                     Lifetime of heating plants Gas    288
55   In               Variable costs of heating plants Oil    288
56   In                 Lifetime of heating plants Biomass    288
57   In  Variable costs of power plants and CHP plants ...    576
58   In      Variable costs of heating plants Solarthermal    288
59   In  Electrical efficiency of power plants and CHP ...    576
60   In  Capital costs of power plants and CHP plants S...    288
61   In  Variable costs of power plants and CHP plants ...    288
62   In  Capital costs of power plants and CHP plants H...    288
63   In            Lifetime of heating plants Solarthermal    288
64   In                 Fixed costs of heating plants Coal    288
65   In               Variable costs of heating plants Gas    288
66   In                           Final demand Electricity    288
67   In         Fixed costs of heating plants Solarthermal    288
68   In  Lifetime of power plants and CHP plants Electr...    288
69   In  Capital costs of power plants and CHP plants N...    288
70   In              Fixed costs of heating plants Biomass    288
71   In  Electrical efficiency of power plants and CHP ...    576
72   In      Lifetime of power plants and CHP plants Hydro    288
73   In  Capital costs of power plants and CHP plants Wind    576
74   In  Variable costs of power plants and CHP plants ...    288
75   In     Fixed costs of power plants and CHP plants Gas    864
76   In  Capital costs of power plants and CHP plants E...    288
77   In  Electrical efficiency of power plants and CHP ...    864
78   In                   Efficiency of heating plants Oil    288
79   In    Lifetime of power plants and CHP plants Biomass    576
80   In  Capital costs of power plants and CHP plants Coal    783
81   In                Capital costs of heating plants Gas    288
82  Out                        Energy Security Coefficient    295

[83 rows x 3 columns]

In [10]:
# Indicators
column = 'nid,category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator, nid; """.format(schema, table_in, table_out, column))
df_nind = pd.read_sql_query(sql, con)
df_nind.index.names = ['rid']
df_nind

,data,nid,category,indicator,count
rid,,,,,
0,In,21,Capital costs of heating plants Biomass,HOB,288
1,In,18,Capital costs of heating plants Coal,HOB,396
2,In,20,Capital costs of heating plants Gas,HOB,288
3,In,23,Capital costs of heating plants Heat Pump,Heat Pump,288
4,In,19,Capital costs of heating plants Oil,HOB,288
5,In,22,Capital costs of heating plants Solarthermal,Solarthermal,288
6,In,11,Capital costs of power plants and CHP plants B...,CHP,288
7,In,10,Capital costs of power plants and CHP plants B...,PP,288
8,In,2,Capital costs of power plants and CHP plants Coal,CHP,387
9,In,1,Capital costs of power plants and CHP plants Coal,PP,396
10,In,17,Capital costs of power plants and CHP plants E...,Battery,288
11,In,6,Capital costs of power plants and CHP plants Gas,CHP,387
12,In,5,Capital costs of power plants and CHP plants Gas,Combined Cycle,387
13,In,7,Capital costs of power plants and CHP plants Gas,Steam Turbine,387
14,In,13,Capital costs of power plants and CHP plants H...,PP,288
15,In,12,Capital costs of power plants and CHP plants N...,PP,288
16,In,4,Capital costs of power plants and CHP plants Oil,CHP,387
17,In,3,Capital costs of power plants and CHP plants Oil,PP,387
18,In,16,Capital costs of power plants and CHP plants S...,PV,288
19,In,9,Capital costs of power plants and CHP plants W...,CHP,288
20,In,8,Capital costs of power plants and CHP plants W...,PP,288
21,In,15,Capital costs of power plants and CHP plants Wind,Offshore,288
22,In,14,Capital costs of power plants and CHP plants Wind,Onshore,288
23,In,113,Efficiency of heating plants Biomass,HOB,288
24,In,110,Efficiency of heating plants Coal,HOB,288
25,In,112,Efficiency of heating plants Gas,HOB,288
26,In,115,Efficiency of heating plants Heat Pump,Heat Pump,288
27,In,111,Efficiency of heating plants Oil,HOB,288
28,In,114,Efficiency of heating plants Solarthermal,Solarthermal,288
29,In,103,Electrical efficiency of power plants and CHP ...,CHP,288
...,...,...,...,...,...
88,In,73,Lifetime of power plants and CHP plants Oil,CHP,288
89,In,72,Lifetime of power plants and CHP plants Oil,PP,288
90,In,85,Lifetime of power plants and CHP plants Solar,PV,288
91,In,78,Lifetime of power plants and CHP plants Waste,CHP,288
92,In,77,Lifetime of power plants and CHP plants Waste,PP,288
93,In,84,Lifetime of power plants and CHP plants Wind,Offshore,288
94,In,83,Lifetime of power plants and CHP plants Wind,Onshore,288
95,In,44,Variable costs of heating plants Biomass,HOB,288
96,In,41,Variable costs of heating plants Coal,HOB,288
97,In,43,Variable costs of heating plants Gas,HOB,288
98,In,46,Variable costs of heating plants Heat Pump,Heat Pump,288
99,In,42,Variable costs of heating plants Oil,HOB,288
100,In,45,Variable costs of heating plants Solarthermal,Solarthermal,288
101,In,34,Variable costs of power plants and CHP plants ...,CHP,288
102,In,33,Variable costs of power plants and CHP plants ...,PP,288
103,In,25,Variable costs of power plants and CHP plants ...,CHP,288
104,In,24,Variable costs of power plants and CHP plants ...,PP,288
105,In,40,Variable costs of power plants and CHP plants ...,Battery,288
106,In,29,Variable costs of power plants and CHP plants Gas,CHP,288
107,In,28,Variable costs of power plants and CHP plants Gas,Combined Cycle,288
108,In,30,Variable costs of power plants and CHP plants Gas,Steam Turbine,288
109,In,36,Variable costs of power plants and CHP plants ...,PP,288
110,In,35,Variable costs of power plants and CHP plants ...,PP,288
111,In,27,Variable costs of power plants and CHP plants Oil,CHP,288
112,In,26,Variable costs of power plants and CHP plants Oil,PP,288
113,In,39,Variable costs of power plants and CHP plants ...,PV,288
114,In,32,Variable costs of power plants and CHP plants ...,CHP,288
115,In,31,Variable costs of power plants and CHP plants ...,PP,288
116,In,38,Variable costs of power plants and CHP plants ...,Offshore,288
117,In,37,Variable costs of power plants and CHP plants ...,Onshore,288

In [11]:
# Indicators
column = 'category,indicator' # id, pathway, version, region, year, indicator, category, value, unit
sql = text("""
    SELECT  'In' AS data, {3}, count(*) AS count
    FROM    {0}.{1}
    GROUP BY {3} 
    UNION ALL 
    SELECT  'Out' AS data, {3}, count(*) AS count
    FROM    {0}.{2}
    GROUP BY {3}
    ORDER BY category, indicator; """.format(schema, table_in, table_out, column))
df_ind = pd.read_sql_query(sql, con)
df_ind.index.names = ['rid']
df_ind

,data,category,indicator,count
rid,,,,
0,In,Capital costs of heating plants Biomass,HOB,288
1,In,Capital costs of heating plants Coal,HOB,396
2,In,Capital costs of heating plants Gas,HOB,288
3,In,Capital costs of heating plants Heat Pump,Heat Pump,288
4,In,Capital costs of heating plants Oil,HOB,288
5,In,Capital costs of heating plants Solarthermal,Solarthermal,288
6,In,Capital costs of power plants and CHP plants B...,CHP,288
7,In,Capital costs of power plants and CHP plants B...,PP,288
8,In,Capital costs of power plants and CHP plants Coal,CHP,387
9,In,Capital costs of power plants and CHP plants Coal,PP,396
10,In,Capital costs of power plants and CHP plants E...,Battery,288
11,In,Capital costs of power plants and CHP plants Gas,CHP,387
12,In,Capital costs of power plants and CHP plants Gas,Combined Cycle,387
13,In,Capital costs of power plants and CHP plants Gas,Steam Turbine,387
14,In,Capital costs of power plants and CHP plants H...,PP,288
15,In,Capital costs of power plants and CHP plants N...,PP,288
16,In,Capital costs of power plants and CHP plants Oil,CHP,387
17,In,Capital costs of power plants and CHP plants Oil,PP,387
18,In,Capital costs of power plants and CHP plants S...,PV,288
19,In,Capital costs of power plants and CHP plants W...,CHP,288
20,In,Capital costs of power plants and CHP plants W...,PP,288
21,In,Capital costs of power plants and CHP plants Wind,Offshore,288
22,In,Capital costs of power plants and CHP plants Wind,Onshore,288
23,In,Efficiency of heating plants Biomass,HOB,288
24,In,Efficiency of heating plants Coal,HOB,288
25,In,Efficiency of heating plants Gas,HOB,288
26,In,Efficiency of heating plants Heat Pump,Heat Pump,288
27,In,Efficiency of heating plants Oil,HOB,288
28,In,Efficiency of heating plants Solarthermal,Solarthermal,288
29,In,Electrical efficiency of power plants and CHP ...,CHP,288
...,...,...,...,...
88,In,Lifetime of power plants and CHP plants Oil,CHP,288
89,In,Lifetime of power plants and CHP plants Oil,PP,288
90,In,Lifetime of power plants and CHP plants Solar,PV,288
91,In,Lifetime of power plants and CHP plants Waste,CHP,288
92,In,Lifetime of power plants and CHP plants Waste,PP,288
93,In,Lifetime of power plants and CHP plants Wind,Offshore,288
94,In,Lifetime of power plants and CHP plants Wind,Onshore,288
95,In,Variable costs of heating plants Biomass,HOB,288
96,In,Variable costs of heating plants Coal,HOB,288
97,In,Variable costs of heating plants Gas,HOB,288
98,In,Variable costs of heating plants Heat Pump,Heat Pump,288
99,In,Variable costs of heating plants Oil,HOB,288
100,In,Variable costs of heating plants Solarthermal,Solarthermal,288
101,In,Variable costs of power plants and CHP plants ...,CHP,288
102,In,Variable costs of power plants and CHP plants ...,PP,288
103,In,Variable costs of power plants and CHP plants ...,CHP,288
104,In,Variable costs of power plants and CHP plants ...,PP,288
105,In,Variable costs of power plants and CHP plants ...,Battery,288
106,In,Variable costs of power plants and CHP plants Gas,CHP,288
107,In,Variable costs of power plants and CHP plants Gas,Combined Cycle,288
108,In,Variable costs of power plants and CHP plants Gas,Steam Turbine,288
109,In,Variable costs of power plants and CHP plants ...,PP,288
110,In,Variable costs of power plants and CHP plants ...,PP,288
111,In,Variable costs of power plants and CHP plants Oil,CHP,288
112,In,Variable costs of power plants and CHP plants Oil,PP,288
113,In,Variable costs of power plants and CHP plants ...,PV,288
114,In,Variable costs of power plants and CHP plants ...,CHP,288
115,In,Variable costs of power plants and CHP plants ...,PP,288
116,In,Variable costs of power plants and CHP plants ...,Offshore,288
117,In,Variable costs of power plants and CHP plants ...,Onshore,288

In [12]:
# Write data as CSV file
csvname = 'data/{0}/reeem_{0}_indicators.csv'.format(folder)
df_ind.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

Data saved to file: data/osemosys_mesca/reeem_osemosys_mesca_indicators.csv

## Table metadata

Access the metadata from the database tables and write metadata string as JSON file.<br>

In [13]:
# Input Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_in))
meta_in = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_in)

# Save data to JSON file
fname_in = 'data/{0}/{1}_metadata.json'.format(folder, table_in)
with open(fname_in, 'w') as metafile:
    json.dump(json.loads(meta_in), metafile, indent=4)
    print("Data saved to file:", fname_in)

{"title": "REEEM OSeMOSYS MESCA Input",
    "description": "Input parameters: Costs, Lifetime, Efficiency, Final demand",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "EE, FI, LT, LV",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2015",
        "start": "2015",
        "end": "2050",
        "resolution": "1 years"},
    "sources": [
        {"name": "TIMES PanEU", "description": "", "url": "", "license": "", "copyright": ""},
	{"name": "MESSAGE", "description": "", "url": "", "license": "", "copyright": ""},
        {"name": "Technology data catalogue, 2018", "description": "", "url": "", "license": "", "copyright": ""} ],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2019-01-28", "comment": "Create table and metadata"},
        {"name": "Linas", "email": "none", "date": "2019-01-29", "comment": "Update metadata"} ],
    "resources": [
        {"name": "model_draft.reeem_osemosys_mesca_input",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "schema", "description": "1. classification", "unit": "none"},
            {"name": "field", "description": "2. classification", "unit": "none"},
            {"name": "category", "description": "3. classification", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"},
            {"name": "source", "description": "Data source", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/osemosys_mesca/reeem_osemosys_mesca_input_metadata.json

In [14]:
# Output Metadata
sql = text("""SELECT obj_description('{0}.{1}'::regclass);""".format(schema, table_out))
meta_out = pd.read_sql_query(sql, con).loc[:,'obj_description'].iloc[0]
print(meta_out)

# Save data to JSON file
fname_out = 'data/{0}/{1}_metadata.json'.format(folder, table_out)
with open(fname_out, 'w') as metafile:
    json.dump(json.loads(meta_out), metafile, indent=4)
    print("Data saved to file:", fname_out)

{"title": "REEEM OSeMOSYS MESCA Output",
    "description": "Model provides Energy Security Coefficient (ESC)",
    "language": [ "eng" ],
    "spatial":
        {"location": "none",
        "extent": "EE, FI, LT, LV",
        "resolution": "Country"},
    "temporal":
        {"reference_date": "2015",
        "start": "2015",
        "end": "2050",
        "resolution": "1 years"},
    "sources": [
        {"name": "OSeMOSYS MESCA", "description": "Model provides Energy Security Coefficient (ESC)", "url": "tba", "license": "none", "copyright": "none"} ],
    "license":
        {"id": "tba",
        "name": "tba",
        "version": "tba",
        "url": "tba",
        "instruction": "tba",
        "copyright": "tba"},
    "contributors": [
        {"name": "Ludee", "email": "none", "date": "2019-01-28", "comment": "Create table and metadata"},
        {"name": "Linas", "email": "none", "date": "2019-01-29", "comment": "Update metadata"} ],
    "resources": [
        {"name": "model_draft.reeem_osemosys_mesca_output",
        "format": "PostgreSQL",
        "fields": [
            {"name": "id", "description": "Unique identifier", "unit": "none"},
            {"name": "nid", "description": "Row id", "unit": "none"},
            {"name": "dfid", "description": "Internal dataframe id", "unit": "none"},
            {"name": "pathway", "description": "REEEM pathway", "unit": "none"},
            {"name": "framework", "description": "REEEM framework", "unit": "none"},
            {"name": "version", "description": "REEEM version", "unit": "none"},
            {"name": "schema", "description": "1. classification", "unit": "none"},
            {"name": "field", "description": "2. classification", "unit": "none"},
            {"name": "category", "description": "3. classification", "unit": "none"},
            {"name": "region", "description": "Country or region", "unit": "none"},
            {"name": "year", "description": "Year", "unit": "none"},
            {"name": "indicator", "description": "Parameter name", "unit": "none"},
            {"name": "value", "description": "Parameter value", "unit": "unit"},
            {"name": "unit", "description": "Parameter unit", "unit": "none"},
            {"name": "aggregation", "description": "True if aggregated", "unit": "none"},
            {"name": "tags", "description": "Free classification", "unit": "none"},
            {"name": "updated", "description": "Timestamp", "unit": "none"} ] } ],
    "metadata_version": "1.3"}
Data saved to file: data/osemosys_mesca/reeem_osemosys_mesca_output_metadata.json

# View 1: One indicator for one region in one pathway over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_1**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'NEW Capacities Public and Industrial Power Plants by Fuel and Technology_Wind'
        AND indicator = 'Onshore'
        AND region = 'EU28'                       -- filter 2
        AND pathway = 'Base'                      -- filter 3
        AND framework = 'FrameworkV1'              
        AND version = 'DataV3'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_1 = pd.read_sql_query(sql, con)
print(df_1)

## Metadata

The important information from the above select (**df_1**) is collected in a Dictionary (**info_dict_1**).

In [ ]:
# Facts dict
info_dict_1 = {}
info_dict_1['Filename'] = ['{}_reeem_plot_1' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_1['Category'] = df_1.loc[:,'category'].unique()
info_dict_1['Indicator'] = df_1.loc[:,'indicator'].unique()
info_dict_1['Unit'] = df_1.loc[:,'unit'].unique()
info_dict_1['Pathway'] = df_1.loc[:,'pathway'].unique()
info_dict_1['Year'] = df_1.loc[:,'year'].unique().tolist()
info_dict_1['Region'] = df_1.loc[:,'region'].unique()
info_dict_1['Y-Axis'] = ['{} in {}'.format(*info_dict_1['Indicator'], *info_dict_1['Unit'])]
info_dict_1['Title'] = ['{} in {}'.format(*info_dict_1['Category'], *info_dict_1['Region'])]
info_dict_1['Metadata'] = meta_out

# Print facts
for x in info_dict_1:
    print(x,':',info_dict_1[x])

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_1**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_1['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_1['Y-Axis'])                    # Label from info
plt.plot(df_1.loc[:,'year'], df_1.loc[:,'value'], 
         marker="o",  markersize=5)
plt.legend(df_1.loc[:,'pathway'].unique())
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.

In [ ]:
# Interactive plot for one indicator and one pathway
data = [go.Scatter(
    x = df_1.loc[:,'year'],
    y = df_1.loc[:,'value'],
    name = df_1.loc[:,'pathway'].unique())]

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_1['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_1['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.

In [ ]:
# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

In [ ]:
# Write facts to textfile
txtname = ('data/' + str({0}) + '/' + str({1}) +'.txt').format(folder, *info_dict_1['Filename'])
with open(txtname,'w') as tfile:
    for i in info_dict_1.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_1[i]]) + "\n")
tfile.close()
print("Facts saved to file:", txtname)

# Save data to CSV
csvname = ('data/' + str({0}) + '/' + str({1}) +'.csv').format(folder, *info_dict_1['Filename'])
df_1.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = ('data/' + str({0}) + '/' + str({1}) +'.png').format(folder, *info_dict_1['Filename'])
fig.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = ('data/' + str({0}) + '/' + str({1}) +'.html').format(folder, *info_dict_1['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# View 2: One indicator for one region in different pathways over time
## Database Query

This section can be used to query one specific **indicator** (_filter 1_) for one specific **region** (_filter 2_) from one database table (_table_).<br>
Indicators are identified by the **nid**.<br>
It is possible to select one specific **pathway** (_filter 3_) and one specific data **version** (_filter 4_).<br>
To querry additional coulmns from the database table add the names to the **SELECT** statement (_column_).<br>
The sortation is done by the **ORDER BY** (_sorting_).<br>
The result from the database is saved to a pandas.DataFrame (**df_2**) and can be printed.

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  pathway, version, region, year, category, indicator, value, unit  -- column
    FROM    {0}.{1}                               -- table
    WHERE   category = 'NEW Capacities Public and Industrial Power Plants by Fuel and Technology_Wind'
        AND indicator = 'Onshore'
        AND region = 'EU28'                       -- filter 2
        AND (pathway = 'Base' 
            OR pathway = 'HighRES')                       -- filter 3
        AND framework = 'FrameworkV1'              
        AND version = 'DataV3'                    -- filter 4
    ORDER BY pathway, version, year;              -- sorting """.format(schema, table_out))
df_2 = pd.read_sql_query(sql, con)
print(df_2)

In [ ]:
# Facts dict
info_dict_2 = {}
info_dict_2['Filename'] = ['{}_reeem_plot_2' .format(pd.to_datetime('today').strftime("%Y-%m-%d"))]
info_dict_2['Category'] = df_2.loc[:,'category'].unique()
info_dict_2['Indicator'] = df_2.loc[:,'indicator'].unique()
info_dict_2['Unit'] = df_2.loc[:,'unit'].unique()
info_dict_2['Pathway'] = df_2.loc[:,'pathway'].unique()
info_dict_2['Year'] = df_2.loc[:,'year'].unique().tolist()
info_dict_2['Region'] = df_2.loc[:,'region'].unique()
info_dict_2['Y-Axis'] = ['{} in {}'.format(*info_dict_2['Indicator'], *info_dict_2['Unit'])]
info_dict_2['Title'] = ['{} in {}'.format(*info_dict_2['Category'], *info_dict_2['Region'])]
# ToDo: Select metadata string from database table and also add!

# Print facts
for x in info_dict_2:
    print(x,':',info_dict_2[x])

## Stack data

This pivot function reorganises the data and makes each pathway a column. The year is used as the index.<br>
The result is saved to a new dataframe (**df_2p**) and can be printed.

In [ ]:
# Reshape dataframe
df_2p = df_2.pivot(index='year', columns='pathway',  values='value')
# print (df_2p)

## Plot

This is a basic plot with [matplotlib](https://matplotlib.org/).<br>
The title and y-axis labels are taken from the **info_dict_2**. They can be exchanged with manual text.

In [ ]:
# Plot for one indicator and one pathway
fig_2 = plt.figure(figsize=(12, 5))
ax = plt.subplot()
# plt.title(r'CO2-Emissions in EU28', fontsize=16)  # Manual title
plt.title(*info_dict_2['Title'], fontsize=16)         # Title from info
# plt.ylabel(r'CO2-Emissions in Mt')                # Manual label
plt.ylabel(*info_dict_2['Y-Axis'])                    # Label from info
plt.plot(df_2p, 
         marker="o",  markersize=5)
plt.legend(df_2p)
ax.set_ylim(ymin=0)

## Interactive Plot

This is a basic interactive plot with [Plotly](https://plot.ly/python/).<br>
You can hover over the elements of the plot and observe the data.<br>
The different pathways can be switched on and off.

In [ ]:
# Iterate over pathways and add to data
pathways = df_2.loc[:,'pathway'].unique()
data = []
for pathway in pathways:
    data.append(go.Scatter(
        x = df_2.loc[df_2['pathway'] == pathway].loc[:,'year'],
        y = df_2.loc[df_2['pathway'] == pathway].loc[:,'value'],
        name = pathway))

# Set layout
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig = go.Figure(data=data, layout=layout)
pltly.iplot(ifig)

## Interactive Plot 2

This is the manual interactive version.<br>
You can control the design using the [plotly documentation](https://plot.ly/python/line-and-scatter/#line-and-scatter-plots).

In [ ]:
data = [go.Scatter(x=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'Base'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='black', dash='none', width='2'),
                   marker=dict(symbol='o', size=8, line=dict(width=2, color='black')),
                   name='Base'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'HighRES'].loc[:,'value'],
                   mode='lines+markers',
                   line=dict(color='green', dash='', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='HighRES'
                  ),
        go.Scatter(x=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'year'],
                   y=df_2.loc[df_2['pathway'] == 'StorageInnov'].loc[:,'value'],
                   line=dict(color='red', dash='dash', width='2'),
                   marker=dict(symbol='o', size=5, line=dict(width=2, color='black')),
                   name='StorageInnov'
                  )
       ]
layout = go.Layout(
    height=400, width = 800,
    #title='CO2-Emissions in EU28',
    title=''.join(info_dict_2['Title']),
    # yaxis=dict(title='CO2-Emissions in Mt') )
    yaxis=dict(title=''.join(info_dict_2['Y-Axis'])) )
ifig2 = go.Figure(data=data, layout=layout)
pltly.iplot(ifig2)

## Save results to files

The results are saved to cooresponding files in a folder named **data**.<br>
The **info_dict** is saved to a text file (txt).<br>
The **data** is saved to a table (csv).<br>
The **plot** is saved as an image (png).<br>
The **interactive plot** is saved as a webpage (html). It will also open in a new tab of your browser.<br>

In [ ]:
# Write facts to textfile
filename = ('data/{}.txt').format(*info_dict_2['Filename'])
with open(filename,'w') as tfile:
    for i in info_dict_2.keys():
        tfile.write(i + ": " + ', '.join([str(x) for x in info_dict_2[i]]) + "\n")
tfile.close()
print("Facts saved to file:", filename)

# Save data to CSV
csvname = 'data/{}.csv' .format(*info_dict_2['Filename'])
df_2.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save pivot data to CSV
csvname = 'data/{}_pivot.csv' .format(*info_dict_2['Filename'])
df_2p.to_csv(csvname, sep=';')
print("Data saved to file:", csvname)

# Save plot as file
plotname = 'data/{}.png' .format(*info_dict_2['Filename'])
fig_2.savefig(plotname, bbox_inches='tight')
print("Plot saved to file:", plotname)

# Save interactive plot
htmlname = 'data/{}.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# Save interactive plot 2
htmlname = 'data/{}_2.html' .format(*info_dict_2['Filename'])
pltly.plot(ifig2, filename=htmlname)
print("Interactive plot saved to file:", htmlname)

# Download one pathway

In [ ]:
# Database select (SQL)
sql = text("""
    SELECT  *
    FROM    {0}.{1}
    WHERE   pathway = 'Base' 
            AND framework = 'FrameworkV1'              
            AND version = 'DataV3'
    ORDER BY nid, year;""".format(schema, table_out))
df_all = pd.read_sql_query(sql, con)
print(df_all)

In [ ]:
# Reshape dataframe
df_allp = df_all.pivot(index='year', columns='pathway',  values='value')
print (df_allp)

# Logging

In [ ]:
%%javascript
var nb = IPython.notebook;
var kernel = IPython.notebook.kernel;
var command = "nb_name = '" + nb.notebook_path + "'";
kernel.execute(command);

In [ ]:
print(nb_name)

In [ ]:
# Database select (SQL)
sql = text("""
    -- scenario log (project,version,io,schema_name,table_name,script_name,comment)
    SELECT scenario_log('REEEM','v0.3.0','view','{0}','{1}','{2}',' ');
    """.format(schema, table_out, nb_name))
df_2 = pd.read_sql_query(sql, con)
print(df_2)